body {
    margin: 0;
    padding: 0;
}

.hero_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns*/
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

form {
    margin: 0;
    padding: 0;
}

.form_container {
    grid-column: 2;
}

.hero_background {
    background-image: url(/images/templates/company_name_logo.png);
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.company_logo {
    display: flex;
}